h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    border-style: solid;
border-width: 1px; 
border-left: none;
border-right: none;
border-top: none;
display: inline;
}
h3{
    font-family: 'Poppins';
}
#form{
    margin-top: 5%;
}

#search-txt{
font-size: 25px;
font-family: 'poppins',sans-serif;
border-radius: 10px;
display: inline;
block-size:40px;
width: 80%;
box-shadow: 2px 3px 10px gray;
}
#search-btn{
    font-size: 28px;
border-radius: 10px;
width: 19%;
block-size: 40px;
display: inline-block;
background-color: peru;
color: white;
box-shadow: 2px 3px 20px gray;
border-style: solid;
border-right: none;
border-left: none;
margin-left: 0.5%;
}
@media (max-width:768px)
{
    #search-btn{
        width:40%;
        margin-left:30% ;
margin-right: 30%;   
margin-top: 20px; 
font-size: 28px;

}
    #search-txt{
        width:80%;
        margin-left: 10%;
        margin-right: 10%;
    }
}
body{
 /*   background-image: linear-gradient(90deg,skyblue,white); */
    animation-name: bgimg;
    animation-duration: 15s;
    animation-iteration-count: infinite;

}
@keyframes bgimg{
    0%{
background-color: floralwhite;
    }
    30%{
background-color:lemonchiffon;
    }
    60%{
background-color:linen;
    }
100%{
background-color:lemonchiffon;
}
}
#text-area{
    margin-top:30px ;
    font-family: Poppins;
    line-height: 30px;
}

#search-btn:hover {background-color: coral;
color: whitesmoke;
}

#search-btn:active {
  background-color: darkgray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);

}


@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);


body {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  background: #fff;
  line-height:26px;
}




.content {
  width: 80%;
  padding: 20px;
  margin: 0 auto;
  padding: 0 60px 0 0;
}


.question {
  color: #fff;
  position: relative;
  background: #444e2f;
  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width:100%;
  cursor: pointer;
}

.answers {
  font-weight:300;
  background: #f2f2f2;
  padding: 0px 15px;
  margin: 0px 0;
  height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: .7s ease;
  -moz-transition: .7s ease;
  -o-transition: .7s ease;
  transition: .7s ease;
}

.questions:checked ~ .answers{
  height: auto;
  opacity: 1;
  padding: 15px;
  width: 100%;

}

.plus {
  color:#fff;
  position: absolute;
  margin-left: 10px;
  margin-top: 5px;
  z-index: 5;
  font-size: 2em;
  line-height: 100%;
  -webkit-user-select: none;    
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: .3s ease;
  -moz-transition: .3s ease;
  -o-transition: .3s ease;
  transition: .3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}
